:root{
    --azul-claro: #c3e6f0; 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
html, body, main {
    height: 100%;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.logoInicial{
    width: 50%;
    background: #E6EDEF;   
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.titulo{
    width: 80%;   
}
.logo{
    width: 80%;
    margin-top: 10px;
}
.registro{
    width: 50%;
    text-align: center;
    font-size: 20px;
}
.registro input{
    margin-top: 10px;
    margin-bottom: 30px;
    background: #7CBCDB;
    border-radius: 15px;
    height: 40px;
    width: 45%;
    border: none;
    text-align: center;
}
.registro p{
    font-size: 17px;
}
#registrate{
    margin-top: 35px;
    margin-bottom: 30px;
    background: #F5AE79;
    border-radius: 20px;
    height: 50px;
    width: 35%;
    border: none;
    font-size: 20px;
}
#iniciarSesion{
    margin-top: 35px;
    margin-bottom: 30px;
    background: #F5AE79;
    border-radius: 20px;
    height: 50px;
    width: 35%;
    border: none;
    font-size: 20px;
}
#google{
    margin-top: 10px;
    border-radius: 30px;
    width: 35%;
}
.logoInicial-muro{
    width: 100%;
    height: auto;
    background: #E6EDEF;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-muro{
    width: 60%;
}
.titulo-muro{
    width: 90%;
    margin: 50px;
    margin-left: 20%;
}
.logout-muro{
    width: 20%;
    margin-left: 50%;
}
.muro{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-direction: column;
}
.parrafo{
    width: 60%;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}
.usuario{
    width: 60%;
    margin: 60px 0 0 50px;
    text-align: left;
    display: flex;
    align-items: center;
}
.usuario img{
    width: 5%;
}
.comentario{
    background: var(--azul-claro);
    width: 60%;
    height: 120px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 20px;
    text-align: left;
    padding: 40px;
    resize: none;
}
.bPublicar{
    display: block;
    text-align: right;
    width: 55%;
    margin-top: 10px;
}
.boton{
    width: 100px;
    height: 30px;
    background-color: #0098c8;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
#contenedor-publicacion{
    width: 60%;
    margin-top: 70px;
}
.publicacion{
    width: 100%;
    margin-bottom: 70px;
    font-size: 20px;
    text-align: left;
}
.publicacion > div {
    background: #E6EDEF;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    padding-bottom: 70px;
}
.publicacion > div::before {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    right: 10%;
    border-bottom: 10px solid #E6EDEF;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.publicacion p{
    text-align: left;
}
.publicacion img{
    width: 30px;
    bottom: 10px;
    position: absolute;
}
.corazon{
    left: 30px;
}
.eliminar{
    right: 80px;
}
.modificar{
    right: 30px;
}
@media only screen and (min-width : 850px) and (max-width : 1200px){
.registro input {
    width: 55%;
}
#iniciarSesion {
    width: 40%;
}
#registrate {
    width: 40%;
}
#google {
    width: 45%;
}
.parrafo {
    font-size: 18px;
}
}
@media only screen and (min-width : 650px) and (max-width : 851px){
.registro{
    font-size: 18px;
}
.registro input {
    width: 65%;
}
.registro p{
    font-size: 15px;
}
#iniciarSesion {
    width: 45%;
    font-size: 18px;
}
#registrate {
    width: 45%;
    font-size: 18px;
}
#google {
    width: 50%;
}
.logo-muro {
    width: 80%;
}
.titulo-muro {
    width: 100%;
}
.logout-muro {
    width: 30%;
}
.parrafo {
    width: 70%;
    font-size: 18px;
    margin-top: 15px;
}
.usuario {
    width: 70%;
    font-size: 18px;
}
.comentario {
    width: 70%;
    height: 110px;
    font-size: 18px;
}
.bPublicar {
    width: 65%;
}
#contenedor-publicacion {
    width: 70%;
}
.publicacion {
    font-size: 18px;
    background: #E6EDEF;
    border-radius: 20px
}
.publicacion > div {
    border-radius: 20px;
}
}
@media only screen and (max-width : 651px){
body{
    background: #E6EDEF;
}
.logoInicial {
    width: 100%;
    background: #E6EDEF;
    height: auto;
    display: flex;
}
.logoInicial > div{
    width: 90%;
    max-width: 400px;
    display: flex;
    margin: 0 auto 0 auto;
    align-items: center;
}
.logoInicial > div > figure:first-child{
    order: 2;
}
.titulo {
    width: 100%;
}
.logo {
    width: 100%;
}
.registro{
    width: 100%;
    font-size: 18px;
    margin-top: 50px;
}
.registro input {
    width: 70%;
}
.registro p{
    font-size: 14px;
}
#iniciarSesion {
    width: 50%;
    font-size: 18px;
}
#registrate {
    width: 50%;
    font-size: 18px;
}
#google {
    width: 55%;
}
.logo-muro {
    width: 80%;
}
.titulo-muro {
    width: 130%;
    margin: 0;
    margin-left: 5%;
}
.logout-muro {
    width: 25%;
}
.parrafo {
    width: 80%;
    font-size: 14px;
    margin-top: 15px;
}
.usuario {
    width: 80%;
    font-size: 15px;
}
.comentario {
    width: 80%;
    height: 90px;
    font-size: 15px;
}
.bPublicar {
    width: 70%;
}
#contenedor-publicacion {
    width: 80%;
}
.publicacion {
    font-size: 15px;
    background: white;
    border-radius: 20px
}
.publicacion > div {
    background: white;
    border-radius: 20px;
}
.publicacion > div::before {
    border-bottom: 10px solid white;
}
.publicacion img{
    width: 25px;
}
}